---
const current = Astro.url.pathname;
---
<nav class="nav container">
	<a class="brand" href="/">
		<div class="logo" />
		<span class="name">Berlin Elektriker</span>
	</a>
	<div class="menu">
		<a href="/" aria-current={current === '/' ? 'page' : undefined}>Startseite</a>
		<a href="/services" aria-current={current === '/services' ? 'page' : undefined}>Leistungen</a>
		<a href="/locations" aria-current={current === '/locations' ? 'page' : undefined}>Einsatzgebiete</a>
		<a href="/about" aria-current={current === '/about' ? 'page' : undefined}>Über uns</a>
		<a href="/contact" aria-current={current === '/contact' ? 'page' : undefined}>Kontakt</a>
	</div>
</nav>


